.slides {
  overflow: scroll !important;
  pointer-events: auto !important;
}

img {
  max-height: 100vh !important;
  max-width: 100vw !important;
  border: none !important;
}

.button {
  font-size: 6vh;
}

.table {
  font-size: 5vh;
}

.container {
  ul, ol {
    font-size: 36px;
  }
}